USE_SQLITE=true
POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Configurações do Raspberry Pi / Dispositivo
APP_PORT=5000
PRINTER_IP=192.168.2.205
DEFAULT_CLINIC_ID=1
SCREEN_TYPE=panel # Opções: panel, tablet, attendant
